@import "fonts.css";
@import "fullscreen.scss";
/* @import url(normalize.css); */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT Eesti Pro Display";
  background-color: #1b1b1b;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 660px);
  padding-right: calc(50% - 660px);
}

.text {
  font: normal 300 24px/28px "GT Eesti Pro Display";
  color: #ffffff;
}

.caption {
  font-weight: 350;
  font-size: 20px;
  line-height: 23px;
  color: #aaaaaa;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  &._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.btn {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #1b1b1b;
  color: #ffffff;
  border: 2px solid #ffffff;
  &:hover {
    background-color: #ffffff;
    color: #020307;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  &__link {
    display: flex;
    align-items: center;
  }
}
.circle-behance:hover {
  background: #1769ff;
}
.circle-instagram:hover {
  background: #a3389b;
}
.circle-telegram:hover {
  background: #53b1f0;
}
.circle-github:hover {
  background: #f06f53;
}
.circle-unsplash:hover {
  background: #31af1d;
}

/* main */

.main {
  padding-top: 60px;
  padding-bottom: 220px;
  &__info {
    padding-top: 120px;
  }
  &__text {
    padding: 60px 0;
    font-weight: 350;
    font-size: calc(20px + 4 * (100vw / 1920));

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.1s;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__btn {
    width: 197px;
    height: 53px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
  &__social-top {
    display: none;
  }
  &__social {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__email {
    font-weight: 350;
    font-size: 20px;
    line-height: 23px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    &:hover {
      text-decoration-line: underline;
      color: #7f7f7f;
    }
  }
}

.logo {
  position: relative;
  &__animation {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    text-align: start;
    mix-blend-mode: darken;

    font-family: "Druk Wide Medium";
    font-size: 10.42vmax;
    font-weight: 500;
    font-style: normal;
    line-height: 10.16vmax;
    color: white;
  }
  &__background-video {
    max-width: 100%;
  }
}

/* about */

.about {
  &__box {
    display: flex;
    justify-content: flex-start;
  }
  &__holder {
    padding-bottom: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__text {
    padding-top: 80px;
    font-weight: 350;
    font-size: 35px;
    line-height: 41px;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.1s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0s;
    }
  }
  &__star {
    animation: star 5s linear infinite;
  }
}

@keyframes star {
  0% {
    transform-origin: center center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center center;
    transform: rotate(360deg);
  }
}

.square {
  position: relative;
  z-index: -1;
  &__img {
    width: 370px;
  }
  &__img-first {
    position: absolute;
    left: 23.04%;

    transform: rotate(0deg);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
    &._active {
      transform: rotate(0deg);
      opacity: 1;
    }
  }
  &__img-second {
    position: absolute;
    left: 29.09%;

    transform: rotate(0deg);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
    &._active {
      left: 40.6%;
      transform: rotate(10deg);
      opacity: 1;
    }
  }
  &__img-third {
    position: absolute;
    left: 31.4%;

    transform: rotate(0deg);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
    &._active {
      left: 56.9%;
      transform: rotate(20deg);
      opacity: 1;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  &__one {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / 1;

    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
  &__two {
    grid-column: 2 / 2;

    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
  &__three {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / -1;

    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
  &__four {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / 1;

    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
  &__five {
    grid-column: 2 / 2;

    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.2s;
    }
  }
}

.title {
  font-weight: 300;
  font-size: 140px;
  line-height: 162px;
  &__bold {
    font-weight: 400;
  }
}

/* people */

.people {
  padding-top: 250px;
  padding-bottom: 250px;
  &__slider-box {
    display: flex;
    gap: 118px;
    min-width: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 222px;
  }
  &__caption {
    align-self: flex-start;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 42px;
  &__container {
    position: relative;
    width: 132px;
    height: 132px;
  }
  &__arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 1s;
  }
  &__arrow._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  &__rotate-center {
    -webkit-animation: rotate-center 15s ease-in-out infinite both;
    animation: rotate-center 15s ease-in-out infinite both;
  }
  &__rotate-center {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 4s;
  }
  &__rotate-center._active {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

._active__arrow path {
  fill: #ffffff;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  &-slide {
    max-width: 408px;
  }
  &__border {
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
    &_second {
      border-radius: 190px 190px 0px 0px;
    }
    &_third {
      border-radius: 0px 0px 120px 0px;
    }
    &_four {
      border-radius: 120px 0px 0px 0px;
    }
    &_five {
      border-radius: 0 120px 0 0;
    }
    &_six {
      border-radius: 190px 190px 0 0;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 30px;
    &-contacts {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 10px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    &-post {
      font-weight: 350;
      font-size: 20px;
      line-height: 23px;
      text-transform: none;
    }
    &-country {
      font-weight: 350;
      font-size: 18px;
      line-height: 21px;
      opacity: 0.5;
      text-transform: none;
    }
  }
  &__thematic-break {
    border-bottom: 2px solid #ffffff;
    max-width: 100%;
    opacity: 0.5;
  }
}

/* to share */

.to-share {
  padding-bottom: 200px;
  &__card {
    padding-top: 80px;
    display: flex;
  }
}

.card-people {
  padding: 35px 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 0px 120px;
  &__img {
    width: 268px;
  }
}
.text-creator__name {
  padding-top: 30px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}
.text-about {
  padding-top: 25px;
  font-weight: 350;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.5;
}
.text-about__work {
  padding-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.card-work {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.card-work__video {
  width: 910px;
  padding: 35px 35px;
}

/* work-community */

.work-community {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__header-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border-bottom: 2px solid #ffffff;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 418px);
  justify-content: center;
  gap: 50px 33px;
  padding: 80px 0 250px;
}

.list-work__box-img {
  display: inline-block;
  overflow: hidden;
  border-radius: 80px 0px 100px;
}

.list-work {
  position: relative;
}

.list-work__img {
  transition: 1s;
  display: block;
}

.list-work__img:hover {
  transform: scale(1.1);
}

.list-behance {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.creator-box {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  &__img {
    width: 50px;
  }
}

.list-creator {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-concept {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

.text-creator-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer {
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    padding-bottom: 60px;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
  }
  &__btn {
    width: 154px;
    height: 53px;
  }
  &__text {
    padding-top: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

/* modal window */

.modal-windows {
  max-width: 1278px;
  min-height: 590px;
  background: #000000;
  border-radius: 60px;
  margin: 0 auto;
}

.modal-windows__container {
  padding: 86px 96px;
}

.modal-windows__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.modal__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
}

.modal__close:before,
.modal__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 1.5px;
  background-color: #ffffff;
}

.modal__close:before {
  transform: rotate(45deg);
}

.modal__close:after {
  transform: rotate(-45deg);
}

.modal-windows__container hr {
  border-bottom: 1px solid #ffffff;
  margin: 40px 0 42px;
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input-email {
  display: flex;
  border-right: 1px solid #aaaaaa;
  padding-right: 40px;
}

.form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.form__input {
  background: #000000;
  outline: none;

  font-size: 16px;
  line-height: 19px;
  color: #aaaaaa;
  padding-left: 16px;
}

.form__font-style {
  display: flex;
  gap: 50px;
  border-right: 1px solid #aaaaaa;
  padding-right: 40px;
}

.text__style {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.text__style-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 29px;
  border-radius: 4px;
}

.text__style-active:hover {
  background: #1b1b1b;
}

.text__style:hover {
  width: 27px;
  height: 29px;
  background: #1b1b1b;
  border-radius: 4px;
}

.style-underline {
  text-decoration-line: underline;
}

.form__align {
  display: flex;
  gap: 50px;
  border-right: 1px solid #aaaaaa;
  padding-right: 40px;
}

.align-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 29px;

  border-radius: 4px;
}
.align-active:hover {
  background: #1b1b1b;
}

.form__upload-file {
  display: flex;
  gap: 50px;
  border-right: 1px solid #aaaaaa;
  padding-right: 40px;
}

.upload-file__box {
  position: relative;
}

.upload-file__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.form__clear {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.form__cleaer-btn::before {
  content: "\274C";
}

.form__textarea-box {
  padding-top: 42px;
}

.form__textarea {
  width: 100%;
  min-height: 170px;
  outline: none;
  resize: none;
  background: #000000;

  font-size: 16px;
  line-height: 19px;
  color: #aaaaaa;
}

.form__btn {
  width: 154px;
  height: 53px;
}

// @media (max-width: 1440px) {
//   .center {
//     padding-left: calc(50% - 660px);
//     padding-right: calc(50% - 660px);
//   }
//   /* main */

//   .main {
//     padding-bottom: 220px;
//   }

//   /* about */

//   .about {
//     padding: 0 60px;
//   }
//   .about__star {
//     width: 170px;
//   }
//   .about__holder {
//     padding: 0 0 250px;
//   }
//   .about__text {
//     padding-top: 80px;
//     font-size: 35px;
//     line-height: 41px;
//   }
//   .square__img {
//     width: 370px;
//   }

//   /* people */

//   .people {
//     padding: 300px 60px 250px;
//   }

//   .people__nav {
//     gap: 42px;
//   }

//   .rotate-center {
//     width: 132px;
//   }

//   .nav__img {
//     width: 48px;
//   }

//   .people__slider-box {
//     gap: 118px;
//   }

//   .people__border-line {
//     width: 300px;
//   }

//   .people__card {
//     padding: 35px 30px;
//   }

//   .card__img {
//     width: 240px;
//   }

//   .card__text {
//     padding-top: 30px;
//     font-size: 26px;
//     line-height: 30px;
//   }

//   .card__border {
//     padding-top: 20px;
//   }

//   .card__text-post {
//     padding-top: 20px;
//     font-size: 20px;
//     line-height: 23px;
//   }

//   .card__text-country {
//     padding-top: 20px;
//     font-size: 18px;
//     line-height: 21px;
//   }
//   /* to share */

//   .to-share__card {
//     padding-top: 80px;
//   }
//   .card-people {
//     padding: 35px 35px 0;
//   }
//   .card-people__img {
//     width: 268px;
//   }
//   .text-creator__name {
//     padding-top: 30px;
//     font-size: 26px;
//     line-height: 30px;
//   }
//   .text-about {
//     padding-top: 25px;
//     font-size: 18px;
//     line-height: 21px;
//   }
//   .text-about__work {
//     padding-top: 25px;
//     font-size: 22px;
//     line-height: 26px;
//   }
//   .card-work__video {
//     width: 910px;
//     padding: 35px;
//   }
//   /* work-community */

//   .items {
//     padding: 80px 0 250px;
//     grid-template-columns: repeat(auto-fit, 418px);
//     gap: 50px 33px;
//   }

//   .creator-box {
//     padding-top: 30px;
//     gap: 25px;
//   }
//   .list-behance {
//     left: 92%;
//   }
//   .creator-img img {
//     width: 50px;
//   }

//   .list-creator {
//     gap: 15px;
//   }

//   .text-concept {
//     font-size: 22px;
//     line-height: 26px;
//   }

//   .text-creator-name {
//     font-size: 18px;
//     line-height: 21px;
//   }

//   .work-community__text {
//     padding-bottom: 60px;
//   }
// }

@media (max-width: 1024px) {
  /* .center {
    padding-left: calc(50% - 660px);
    padding-right: calc(50% - 660px);
  } */
  /* main */

  .main {
    padding: 20px 40px 140px;
  }

  /* about */

  .about {
    padding: 0 40px;
  }

  .about__holder {
    justify-content: space-around;
    padding: 0 0 60px;
  }

  .about__star {
    width: 130px;
  }

  .about__text {
    padding-top: 40px;
    font-size: 22px;
    line-height: 26px;
  }

  .square__img {
    width: 270px;
  }

  /* people */

  .people {
    padding: 100px 20px 150px;
  }

  .people__slider-box {
    gap: 60px;
  }
  /* to share */
  .to-share {
    padding: 20px 20px 100px;
  }
  .to-share__text {
    padding-bottom: 29px;
  }
  .to-share__card {
    padding-top: 0;
    flex-direction: column-reverse;
    border: 2px solid #808480;
    border-radius: 0px 0px 60px 0px;
  }
  .card-people {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 16px 16px 50px;
    border-top: 2px solid #808480;
  }
  .card-people__wrapper {
    width: 400px;
  }
  .card-people__img {
    width: 268px;
  }
  .text-creator__name {
    font-size: 22px;
    line-height: 26px;
  }
  .text-about {
    font-size: 16px;
    line-height: 19px;
  }
  .text-about__work {
    font-size: 18px;
    line-height: 21px;
  }
  .text-about__work br {
    display: none;
  }
  .card-work {
    border: none;
  }
  .card-work__video {
    width: 100%;
    padding: 16px;
  }
  /* work-community */

  .work-community {
    padding: 0 20px 100px;
  }

  .wrap {
    padding: 60px 0 120px;
  }

  .items {
    gap: 40px;
  }

  .list {
    width: 335px;
  }

  .list-work__img {
    width: 335px;
  }

  .creator-box {
    padding-top: 20px;
    gap: 20px;
  }

  .creator-img img {
    width: 51px;
  }

  .text-concept {
    font-size: 22px;
    line-height: 26px;
  }

  .text-creator-name {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  /* main */

  .main {
    padding: 45px 20px 140px;
  }
  .header__email {
    display: none;
  }
  .main__social-bottom {
    display: none;
  }
  .main__social-top {
    display: block;
  }
  .main__info {
    padding-top: 126px;
  }
  .main__text {
    font-size: 20px;
    line-height: 23px;
    padding: 40px 0;
  }

  /* about */

  .about {
    padding: 0 20px;
  }
  .about__holder {
    padding: 0 0 80px;
    flex-direction: column;
  }
  .about__text {
    font-size: 22px;
    line-height: 26px;
    padding: 40px 0;
  }
  .about__star {
    width: 60px;
    align-self: flex-end;
  }
  .square__img {
    width: 170px;
  }
  .first-square,
  .second-square,
  .third-square {
    top: 50px;
  }
  .about__grid {
    display: flex;
    flex-direction: column;
  }
  .grid__one {
    align-self: flex-start;
  }
  .grid__two {
    align-self: flex-end;
  }
  .grid__three {
    align-self: center;
  }
  .grid__four {
    align-self: flex-start;
  }
  .grid__five {
    align-self: flex-end;
  }

  /* people */

  .people__slider-box {
    gap: 100px;
  }

  .people__card {
    padding: 25px 20px;
  }

  .card__img {
    width: 230px;
  }

  .card__text {
    padding-top: 33px;
    font-size: 22px;
    line-height: 26px;
  }

  .card__text-country {
    padding-top: 15px;
    font-size: 16px;
    line-height: 19px;
  }
  /* to share */

  .card-people__wrapper {
    width: 400px;
  }
  .card-people__img {
    width: 100px;
  }
  .card-work__video {
    width: 311px;
  }
  /* work-community */

  .work-community__text {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 45px;
  }
  .work-community__btn {
    width: 335px;
    height: 53px;
  }
}
