@import url(fonts.css);
/* @import url(normalize.css); */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT Eesti Pro Display";
  background-color: #1b1b1b;
  margin: 0 auto;
}
.text {
  font: normal 300 24px/28px "GT Eesti Pro Display";
  color: #ffffff;
}
.caption {
  font-weight: 350;
  font-size: 20px;
  line-height: 23px;
  color: #aaaaaa;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.caption._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.btn {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #1b1b1b;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn:hover {
  background-color: #ffffff;
  color: #020307;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.circle-behance:hover {
  background: #1769ff;
}
.circle-instagram:hover {
  background: #a3389b;
}
.circle-telegram:hover {
  background: #53b1f0;
}
.circle-github:hover {
  background: #f06f53;
}
.circle-unsplash:hover {
  background: #31af1d;
}

/* main */

.main {
  padding: 55px 60px 250px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__email {
  font-weight: 350;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header__email._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__email:hover {
  text-decoration-line: underline;
  color: #7f7f7f;
}
.main__info {
  padding-top: 105px;
}
.logo__container {
  position: relative;
}
.main__logo-animation {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.background-video {
  width: 100%;
}

.logo__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  text-align: start;
  mix-blend-mode: darken;

  font-family: "Druk Wide Medium";
  font-size: 10.42vmax;
  font-weight: 500;
  font-style: normal;
  line-height: 10.16vmax;
  color: white;
}
.main__text {
  padding: 60px 0;
  font-weight: 350;
  font-size: calc(20px + 4 * (100vw / 1920));

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.1s;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__btn {
  width: 197px;
  height: 53px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.main__social-top {
  display: none;
}
.main__social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__social._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.social {
  display: flex;
}

/* about */

.about {
  padding: 0 114px 0 60px;
}
.about__box {
  display: flex;
  justify-content: flex-start;
}
.about__holder {
  padding: 0 129px 324px 170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__text {
  padding-top: 84px;
  font-weight: 350;
  font-size: 50px;
  line-height: 58px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}
.about__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.about__star {
  animation: star 5s linear infinite;
}
@keyframes star {
  0% {
    transform-origin: center center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center center;
    transform: rotate(360deg);
  }
}
.square {
  position: relative;
  z-index: -1;
}

.first-square {
  position: absolute;
  left: 23.04%;

  transform: rotate(0deg);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.firstsquare._active {
  transform: rotate(0deg);
  opacity: 1;
}
.second-square {
  position: absolute;
  left: 29.09%;

  transform: rotate(0deg);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.second-square._active {
  left: 40.6%;
  transform: rotate(10deg);
  opacity: 1;
}
.third-square {
  position: absolute;
  left: 31.4%;

  transform: rotate(0deg);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.third-square._active {
  left: 56.9%;
  transform: rotate(20deg);
  opacity: 1;
}
.title {
  font-weight: 500;
  font-size: 10.417vmax;
  line-height: 12.08vmax;
}
.title__bold {
  font-weight: 400;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid__one {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / 1;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.grid__one._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.grid__two {
  grid-column: 2 / 2;

  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.grid__two._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.grid__three {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;

  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.grid__three._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.grid__four {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / 1;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.grid__four._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.grid__five {
  grid-column: 2 / 2;

  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.grid__five._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}

/* people */

.people {
  padding: 300px 60px 250px;
}

.people__caption {
  align-self: flex-start;
}

.people__slider-box {
  display: flex;
  gap: 145px;
  min-width: 0;
}

.people__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 311px;
}

.people__nav {
  display: flex;
  align-items: center;
  gap: 85px;
}

.nav__inner {
  position: relative;
}

.inside-arrow {
  position: absolute;
  top: 40%;
  left: 30%;
}

.rotate-center {
  -webkit-animation: rotate-center 15s ease-in-out infinite both;
  animation: rotate-center 15s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-center {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 4s;
}
.rotate-center._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.nav__img {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 1s;
}
.nav__img._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.swiper-continer {
  width: 100%;
  height: 100%;
}

.people-card__slider {
  overflow: hidden;
}

.swiper-slide {
  max-width: 408px;
}

.people__border-line {
  max-width: 408px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 120px 0px 0px;
  /* animation: borderLine 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused; */
}

/* .people__border-line._active {
  animation-play-state: running;
}
@keyframes borderLine {
  0% {
    border: none;
    border-radius: 0px 0px 0px 0px;
  }
  20% {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
  }
  40% {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
  }
  60% {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
  }
  80% {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
  }
  100% {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 120px 0px 0px;
  }
} */

.border-line__second {
  border-radius: 190px 190px 0px 0px;
}

.border-line__third {
  border-radius: 0px 0px 120px 0px;
}

.border-line__four {
  border-radius: 120px 0px 0px 0px;
}

.border-line__five {
  border-radius: 0px 120px 0px 120px;
}
.border-line__six {
  border-radius: 190px 190px 120px 0px;
}

.people__card {
  padding: 43px 38px;
}

.people__name {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  text-transform: uppercase;
}

.card__border {
  padding-top: 27px;
  border-bottom: 2px solid #ffffff;
  max-width: 328px;
  opacity: 0.5;
}

.card__text-post {
  font-weight: 350;
  font-size: 28px;
  line-height: 32px;
  text-transform: none;
}

.card__text-country {
  font-weight: 350;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
  text-transform: none;
}

/* to share */

.to-share {
  padding: 0 60px 200px;
}
.to-share__card {
  padding-top: 100px;
  display: flex;
}
.card-people {
  padding: 50px 50px 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 0px 120px;
}
.text-creator__name {
  padding-top: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}
.text-about {
  padding-top: 40px;
  font-weight: 350;
  font-size: 20px;
  line-height: 23px;
  opacity: 0.5;
}
.text-about__work {
  padding-top: 32px;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}
.card-work {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.card-work__video {
  width: 1244px;
  padding: 50px 50px;
}

/* work-community */

.work-community {
  padding: 0 60px 100px;
}
.work-community__header {
  display: flex;
  justify-content: space-between;
}
.work-community__header-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 2px solid #ffffff;
}
.wrap {
  padding: 98px 0 250px;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 45px;
}

.list {
  max-width: 570px;
}

.list-work__box-img {
  display: inline-block;
  overflow: hidden;
  border-radius: 80px 0px 100px;
}

.list-work {
  position: relative;
}

.list-work__img {
  transition: 1s;
  display: block;
}

.list-work__img:hover {
  transform: scale(1.2);
}

.list-behance {
  position: absolute;
  bottom: 0%;
  left: 92%;
}

.creator-box {
  padding-top: 34px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-concept {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-creator-name {
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.box-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-community__text {
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.work-community__btn {
  width: 154px;
  height: 53px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* modal window */

.modal {
  max-width: 1278px;
  height: 590px;
  background: #000000;
  border-radius: 60px;
}
.modal__container {
  padding: 87px 96px 86px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}
.modal__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
.modal__seting {
  padding-top: 42px;
}
.modal__btn {
  width: 154px;
  height: 53px;
}

@media (max-width: 1440px) {
  /* main */

  .main {
    padding-bottom: 220px;
  }

  /* about */

  .about {
    padding: 0 60px;
  }
  .about__star {
    width: 170px;
  }
  .about__holder {
    padding: 0 0 250px;
  }
  .about__text {
    padding-top: 80px;
    font-size: 35px;
    line-height: 41px;
  }
  .square__img {
    width: 370px;
  }

  /* people */

  .people {
    padding: 300px 60px 250px;
  }

  .people__nav {
    gap: 42px;
  }

  .rotate-center {
    width: 132px;
  }

  .nav__img {
    width: 48px;
  }

  .people__slider-box {
    gap: 118px;
  }

  .people__border-line {
    width: 300px;
  }

  .people__card {
    padding: 35px 30px;
  }

  .card__img {
    width: 240px;
  }

  .card__text {
    padding-top: 30px;
    font-size: 26px;
    line-height: 30px;
  }

  .card__border {
    padding-top: 20px;
  }

  .card__text-post {
    padding-top: 20px;
    font-size: 20px;
    line-height: 23px;
  }

  .card__text-country {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
  }
  /* to share */

  .to-share__card {
    padding-top: 80px;
  }
  .card-people {
    padding: 35px 35px 0;
  }
  .card-peple__img {
    width: 256px;
  }
  .text-creator__name {
    padding-top: 30px;
    font-size: 26px;
    line-height: 30px;
  }
  .text-about {
    padding-top: 25px;
    font-size: 18px;
    line-height: 21px;
  }
  .text-about__work {
    padding-top: 25px;
    font-size: 22px;
    line-height: 26px;
  }
  .card-work__video {
    width: 910px;
    padding: 35px;
  }
  /* work-community */

  .wrap {
    padding: 80px 0 250px;
  }

  .items {
    gap: 55px 33px;
  }

  .list {
    width: 418px;
  }

  .list-work__img {
    width: 418px;
  }

  .creator-box {
    padding-top: 30px;
    gap: 25px;
  }

  .creator-img img {
    width: 50px;
  }

  .text-concept {
    font-size: 22px;
    line-height: 26px;
  }

  .text-creator-name {
    padding-top: 15px;
    font-size: 18px;
    line-height: 21px;
  }

  .work-community__text {
    padding-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  /* main */

  .main {
    padding: 20px 40px 140px;
  }

  /* about */

  .about {
    padding: 0 40px;
  }

  .about__holder {
    justify-content: space-around;
    padding: 0 0 60px;
  }

  .about__star {
    width: 130px;
  }

  .about__text {
    padding-top: 40px;
    font-size: 22px;
    line-height: 26px;
  }

  .square__img {
    width: 270px;
  }

  /* people */

  .people {
    padding: 100px 20px 150px;
  }

  .people__slider-box {
    gap: 60px;
  }
  /* to share */
  .to-share {
    padding: 20px 20px 100px;
  }
  .to-share__card {
    padding-top: 60px;
    flex-direction: column;
  }
  .card-people {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 0;
  }
  .card-people__wrapper {
    width: 400px;
  }
  .card-peple__img {
    width: 256px;
  }
  .text-creator__name {
    font-size: 22px;
    line-height: 26px;
  }
  .text-about {
    font-size: 16px;
    line-height: 19px;
  }
  .text-about__work {
    font-size: 18px;
    line-height: 21px;
  }
  .text-about__work br {
    display: none;
  }
  .card-work {
    border: none;
  }
  .card-work__video {
    width: 100%;
    padding: 35px;
  }
  /* work-community */

  .work-community {
    padding: 0 20px 100px;
  }

  .wrap {
    padding: 60px 0 120px;
  }

  .items {
    gap: 40px;
  }

  .list {
    width: 335px;
  }

  .list-work__img {
    width: 335px;
  }

  .creator-box {
    padding-top: 20px;
    gap: 20px;
  }

  .creator-img img {
    width: 51px;
  }

  .text-concept {
    font-size: 22px;
    line-height: 26px;
  }

  .text-creator-name {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  /* main */

  .main {
    padding: 45px 20px 140px;
  }
  .header__email {
    display: none;
  }
  .main__social-bottom {
    display: none;
  }
  .main__social-top {
    display: block;
  }
  .main__info {
    padding-top: 126px;
  }
  .main__text {
    font-size: 20px;
    line-height: 23px;
    padding: 40px 0;
  }

  /* about */

  .about {
    padding: 0 20px;
  }
  .about__holder {
    padding: 0 0 80px;
    flex-direction: column;
  }
  .about__text {
    font-size: 22px;
    line-height: 26px;
    padding: 40px 0;
  }
  .about__star {
    width: 60px;
    align-self: flex-end;
  }
  .square__img {
    width: 170px;
  }
  .first-square,
  .second-square,
  .third-square {
    top: 50px;
  }
  .about__grid {
    display: flex;
    flex-direction: column;
  }
  .grid__one {
    align-self: flex-start;
  }
  .grid__two {
    align-self: flex-end;
  }
  .grid__three {
    align-self: center;
  }
  .grid__four {
    align-self: flex-start;
  }
  .grid__five {
    align-self: flex-end;
  }

  /* people */

  .people__slider-box {
    gap: 100px;
  }

  .people__card {
    padding: 25px 20px;
  }

  .card__img {
    width: 230px;
  }

  .card__text {
    padding-top: 33px;
    font-size: 22px;
    line-height: 26px;
  }

  .card__text-country {
    padding-top: 15px;
    font-size: 16px;
    line-height: 19px;
  }
  /* to share */

  .card-people__wrapper {
    width: 400px;
  }
  .card-people__img {
    width: 180px;
  }
  .card-work__video {
    padding: 40px 0 0;
  }
  /* work-community */

  .work-community__text {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 45px;
  }
  .work-community__btn {
    width: 335px;
    height: 53px;
  }
}
